@media only screen and (min-width: 1020px ) {

/*顶部图片*/
#topBanner {
	z-index: 9;
	margin: 0 auto;
	position: relative;
	background: url(../img/topbanner.jpg) no-repeat center top;
	background-size: cover;
	height: 250px;
}
#topBanner span.pageTitle {
	position: absolute;
	top: 99px;
	left: 76px;
	font-size: 48px;
	color: #FFFFFF;
	font-weight: lighter;
}

/*面包屑*/
#bread {
	margin-bottom: 60px;
}
#bread .container{
	border-bottom: 1px solid #eaeaea;
}
#bread .breadcrumb {
	position: relative;
}
#bread .breadcrumb li {
	float: left;
	
}
#bread .breadcrumb li a {
	line-height: 48px;
	padding-left: 10px;
	padding-right: 15px;
	background: url(../img/icon_arrowRight.png) no-repeat right center;
	font-size: 12px;
	color: #c51317;
	cursor: pointer;
}
#bread .breadcrumb li a:hover {
	text-decoration: underline;
	color: #c51317;
}
#bread .breadcrumb li.active {
	font-size: 12px;
	line-height: 47px;
	padding-left: 10px;
	color: #a3a3a3;
	background: none;
	padding-right: 0;
}


/*主选项卡*/
#mainTab {
	margin-bottom: 60px;
}
#mainTab ul {
	width: 240px;
	position: relative;
	margin: 0 auto;
}
#mainTab ul li {
	float: left;
	text-align: center;
	margin-right: 20px;
}
#mainTab ul li a {
	min-width: 55px;
	padding: 0 20px;
	display: inline-block;
	line-height: 40px;
	color: #666666;
	border: 1px solid #FFFFFF;
}
#mainTab ul li:hover a {
	color: #333333;
	border: 1px solid #aeaeae;
}
#mainTab ul li.active a {
	border: 1px solid #c51317;
	color: #c51317;
}



/*左侧菜单*/
/*左侧菜单*/
#main .aside {
	width: 240px;
	padding: 0 30px 0 30px;
	margin-bottom: 120px;
}

#main .aside .asideMenu {
	width: 240px;
}
#main .aside .asideMenu dt {
	font-size: 18px;
	color: #333333;
	line-height: 46px;
	border-bottom: 1px solid #b0b0b0;
	margin-top: 20px;
	font-weight: normal;
}
#main .aside .asideMenu dt.noMarginTop {
	margin-top: 0;
}
#main .aside .asideMenu dd {
	line-height: 45px;
	margin-top: 8px;
	box-sizing: content-box;
}
#main .aside .asideMenu dd a {
	padding-left: 18px;
	display: block;
	line-height: 45px;
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
	font-size: 14px;
}
#main .aside .asideMenu dd.active a {
	color: #FFFFFF;
	background: #c51317;
	border: 1px solid #c51317;
}
#main .aside .asideMenu dd a:hover {
	color: #c51317;
	border: 1px solid #c51317;
}
#main .aside .asideMenu dd.active a:hover {
	color: #FFFFFF;
	border: 1px solid #c51317;
}
#main .aside .projectsBanner {
	margin-top: 20px;
	
}
#main .aside .projectsBanner dt{
	font-size: 16px;
	color: #333333;
	line-height: 46px;
	border-bottom: 1px solid #b0b0b0;
}
#main .aside .projectsBanner dd img {
	margin-top: 8px;
}
#main .aside .projectsBanner dd p a {
	line-height: 30px;
}

/*主体内容*/
#main .content {
	padding: 0 0 0 20px;
	width: 850px;
	text-align: center;
}
#main .content h2 {
	margin-bottom: 20px;
	text-align: left;
	font-weight: normal;
}
#main .content h3 {
	color: #c51317;
    margin: 20px 0 15px 0px;
	text-align: left;
}
#main .content h4 {
	margin: 15px 0 10px 0;
	text-indent: 2em;
}
#main .content p.quote1 {
	text-indent: 0;
	margin-left: 34px;
	padding-left: 8px;
	border-left: 2px solid #c51317;
}
#main .content h4.quote2 {
	text-indent: 0;
	margin-left: 10px;
	padding-left: 25px;
	background: url(../img/quote2.png) no-repeat left center ;
}

#main .content p {
	text-indent: 2em;
	margin-bottom: 15px;
	text-align: left;
}
#main .content ul li {
	line-height: 24px;
	margin-left: 25px;
	padding-left: 25px;
	background: url(../img/li_icon1.png) no-repeat left center;
	text-align: left;
}
#main .content img {
	margin: 20px 0;
	text-align: center;
	max-width: 850px;
}
#main .content dd {
	text-align: left;
}
#main .content dt {
	text-indent: 2em;
}
#main .content h4 {
	text-align: left;
}


/*主体内容*/
/*#main .content {
	width: 870px;
	text-align: center;
}
#main .content h2 {
	margin-bottom: 20px;
	text-align: left;
}
#main .content h3 {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: left;
}
#main .content p {
	text-indent: 2em;
	margin-bottom: 10px;
	text-align: left;
}
#main .content ul li {
	margin-left: 15px;
	list-style: square;
	text-align: left;
}
#main .content img {
	margin: 20px 0;
	text-align: center;
	max-width: 870px;
}*/


/*logo组合页面*/

#main .logoBox {
	position: relative;
}
#main .logoBox .customerLogo {
	float: left;
	width: 225px;
	height: 130px;
	margin-top: 20px;
	text-align: center;
}
#main .logoBox .customerLogo img {
	width: 190px;
	display: inline-block;
}
#main .logoBox .customerLogo span {
	display: block;
}






}
@media only screen and (min-width: 768px) and (max-width: 1019px) {
	
	
	
	
	
	
}

@media only screen and (max-width: 767px ) {
	
	
	
	
	
	
}