.navbar {
	background: #FFFFFF;
	height: 80px;
	
}
.navbar .navbar-header img {
	padding: 10px 0;
}
.navbar .navbar-nav>li>a {
	padding-top: 30px;
	padding-bottom: 30px;
	color: #333333;
}
.navbar .navbar-nav>li>a.active,
.navbar .navbar-nav>li>a:hover {
	color: #0277bd;
}
ul.dropdown-menu.features_menu {
	min-width: 400px;
	padding: 15px
}

ul.dropdown-menu.features_menu li.col-md-3 {
	height: 260px
}

ul.dropdown-menu.features_menu ul {
	list-style: none;
	padding: 0
}

ul.dropdown-menu.features_menu h4 {
	color: #0277bd
}

ul.dropdown-menu.features_menu ul li {
	padding: 5px 0
}

ul.dropdown-menu.features_menu ul li a {
	color: #000;
	text-decoration: none
}

ul.dropdown-menu.features_menu li a:hover {
	color: #0277bd
}
ul.dropdown-menu.normal_menu>li>a:hover {
	color: #0277bd
}
.dropdown-menu > li > a:hover {
	background: #FFFFFF;
}
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
	color: #0277bd;
	text-decoration: none;
	background-color: #fff;
	outline: 0
}
.navbar-right .dropdown-menu {
	left: 0;
}


/*slider*/
.mainSlider {
	margin-top: 80px;
}
.mainSlider.container-fluid {
	padding: 0;
}
.mainSlider .carousel-indicators li {
	border: none;
	width: 20px;
	height: 2px;
	background: #FFFFFF;
	border-radius: 0;
	margin: 0 1px;
} 
.mainSlider .carousel-indicators li.active {
	background: #0277bd;
} 
.mainSlider .carousel-inner .carousel-caption {
	position: absolute;
	top: 50%;
	margin-top: -80px;
}
.mainSlider .carousel-inner .carousel-caption h3 {
	font: lighter 36px/36px "微软雅黑";
	margin-bottom: 30px;
}
.mainSlider .carousel-inner .carousel-caption p {
	font: lighter 24px/30px "微软雅黑";
	margin-bottom: 30px;
}
.mainSlider .carousel-inner .carousel-caption button {
	font: lighter 18px/40px "微软雅黑";
	padding: 0 20px;
	color: #FFFFFF;
	background: #0277bd;
	border: none;
	outline: none;
}
.mainSlider .carousel-control span.ti-angle-left {
	position: absolute;
	top: 50%;
	margin-top: -10px;
	color: #FFFFFF;
	background: #0277bd;
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	line-height: 30px;
	right: 0;
}
.mainSlider .carousel-control span.ti-angle-right {
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -10px;
	color: #FFFFFF;
	background: #0277bd;
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	line-height: 30px;
}

/*优势*/
.advantage {
	margin-top: 60px;
}
.advantage .adv_hd {
	margin-bottom: 60px;
	text-align: center;
}
.advantage .adv_hd h3 {
	font: lighter 36px/36px "微软雅黑";
	margin-bottom: 24px;
}
.advantage .adv_hd span.sep1 {
	display: block;
	width: 40px;
	height: 1px;
	background: #0277bd;
	margin: 0 auto 24px auto;
}
.advantage .adv_bd {
	margin-bottom: 80px;
}
.advantage .adv_hd p {
	font: lighter 14px/20px "微软雅黑";
}
.advantage .adv_bd .adv_item {
	margin-top: 10px;
	background: #0277bd;
	border-radius: 4px;
	color: #FFFFFF;
	text-align: center;
	padding: 40px 28px;
}

.advantage .adv_bd .adv_item h4 {
	margin: 40px 0 20px 0;
	font: lighter 24px/24px "微软雅黑";
}
.advantage .adv_bd .adv_item p {
	font: lighter 14px/18px "微软雅黑";
}

/*产品*/
.products {
	padding: 60px;
	background: #eeefe9;
}
.products .col-sm-12.col-md-6.col-lg-6 {
	position: relative;
}
.products .prodBox {
	border-radius: 4px;
	width: 514px;
	height: 620px;
	margin: 20px auto 0 auto;
	overflow: hidden;
}
.products .prodBox:hover .desBox {
	transition: all 0.3s ease-in;
	/*display: block;*/
	opacity: 1;
}
.products .textBox {
	background: rgba(255,255,255,0.95);
	text-align: center;
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 100%;
	text-align: center;
	width: 514px;
	margin-left: -257px;
}
.products .textBox h3 {
	font: 28px/28px "微软雅黑";
	margin-top: 28px;
	color: #333333;
}
.products .textBox p {
	font: 18px/18px "微软雅黑";
	margin: 8px 0 20px 0;
	color: #999999;
}
.products .desBox {
	transition: all 1s ease-in;
	/*display: none;*/
	opacity: 0;
	position: absolute;
	top: 0;
	left: 50%;
	background: rgba(255,255,255,1);
	border-radius: 4px;
	width: 514px;
	height: 620px;
	margin: 0 auto;
	margin-left: -257px;
}
.products .desBox .innerBox {
	border: 2px solid #0277bd;
	padding: 40px 60px;
	width: 458px;
	height: 556px;
	margin: 0 auto;
	margin-top: 30px;
}
.products .desBox .innerBox img {
	display: block;
	margin: 0 auto;
	width:auto;
	height:auto;
	max-width:100%;
	max-height:100%;
}
.products .desBox .innerBox h4 {
	text-align: center;
}
.products .desBox .innerBox h4 {
	color: #333333;
	font: lighter 26px/26px "微软雅黑";
	margin: 74px 0 50px 0;
}
.products .desBox .innerBox ul {
	list-style: none;
	padding-left: 0;
}
.products .desBox .innerBox ul  li {
	color: #333333;
	font: lighter 16px/24px "微软雅黑";
	margin-bottom: 32px;
	padding-left: 60px;
	background: url(../img/ok.png) no-repeat left center;
}


/*service*/
.service {
	margin-bottom: 40px;
}
.service .service_hd {
	margin-top: 40px;
	/*margin-bottom: 20px;*/
	text-align: center;
}
.service .service_hd h3 {
	font: lighter 36px/36px "微软雅黑";
}
.service .service_hd span.sep1 {
	display: block;
	width: 40px;
	height: 1px;
	background: #0277bd;
	margin: 24px auto 24px auto;
}
.service .service_bd .serviceItem {
	margin-top: 20px;
	text-align: center;
	padding: 40px 30px;
	box-sizing: border-box;
}
.service .service_bd .serviceItem:hover {
	/*border: 1px solid #f5f5f5;*/
}
.service .service_bd .serviceItem:hover a {
	text-decoration: none;
}
.service .service_bd .serviceItem span {
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 0 auto 18px auto;
}
.service .service_bd .serviceItem span img {
	padding-top: 4px;
}
.service .service_bd .serviceItem a {
	color: #333333;
}
.service .service_bd .serviceItem h4 {
	font: lighter 18px/24px "微软雅黑";
}
.service .service_bd .serviceItem p {
	font: lighter 14px/18px "微软雅黑";
}
.service .service_bd span.icon1 {
	background: #524f69;
}
.service .service_bd span.icon2 {
	background: #0277bd;
}
.service .service_bd span.icon3 {
	background: #7cc8ec;
}
.service .service_bd span.icon4 {
	background: #88c9c5;
}
.service .service_bd span.icon5 {
	background: #f47264;
}
.service .service_bd span.icon6 {
	background: #f8d35e;
}


/*小轮播*/

.carousel-info {
	background: #0277bd;
	text-align: center;
	color: #FFFFFF;
	height: 404px;
}
.carousel-info a {
	color: #FFFFFF;
	text-decoration: none;
}
.carousel-info img {
	margin-top: 80px;
	
}
.carousel-info h4 {
	margin-top: 50px;
	font: lighter 36px/36px "微软雅黑";
}
.carousel-info p {
	margin-top: 40px;
	font: lighter 14px/24px "微软雅黑";
}

.projects {
	background: #eeefe9;
	padding: 40px 0;
}
.projects .projectsBox {
	width: 100%;
	text-align: center;
}
.projects .proj1 {
	background: url(../img/company1.png) no-repeat top center;
}
.projects .proj2 {
	background: url(../img/company2.png) no-repeat top center;
}
.projects .proj3 {
	background: url(../img/company3.png) no-repeat top center;
}
.projects .projectsBox a {
	text-decoration: none;
	color: #FFFFFF;
}
.projects .projectsBox img {
	padding: 80px 0 0 0;
}
.projects .projectsBox p {
	font: lighter 24px/24px "微软雅黑";
	padding: 20px 0 80px 0;
}
.projects .projects_bd > div {
	text-align: center;
}
.projects .projects_bd p.companyName {
	margin-top: 36px;
}
.projects .projects_bd p.companyName a {
	color: #333333;
	text-decoration: none;
	font: lighter 24px/24px "微软雅黑";
}


.footer1 {
	text-align: center;
	min-height: 320px;
	background: url(../img/about-yuanjing.jpg) no-repeat center top;
	color: #FFFFFF;
}
.footer1 img {
	margin-top: 65px;
}
.footer1 p {
	margin-top: 40px;
	font: lighter 14px/20px "微软雅黑";
}
.footer2 {
	background: #333333;
	color: #FFFFFF;
}
.footer2 .footerInfo_hd {
	margin: 26px 0 16px 0;
	font: 18px/18px "微软雅黑";
	text-align: left;
}
.footer2 .footerInfo_bd {
	text-align: center;
}
.footer2 .footerInfo_bd strong {
	display: inline-block;
	margin: 20px 0;
	font: 18px/24px "微软雅黑";
}








