body {
	font-family: "微软雅黑", "microsoft yahei", arial;
	font-size: 16px;
	line-height: 1.428;
	color: #333;
}
h1 {
	font-size: 46px;
	line-height: 1.428;
	font-weight: lighter;
}
h2 {
	font-size: 36px;
	line-height: 1.428;
	font-weight: lighter;
}
h3 {
	font-size: 26px;
	line-height: 1.428;
	font-weight: lighter;
}
h4 {
	font-size: 18px;
	line-height: 1.428;
	font-weight: lighter;
}
h5 {
	font-size: 14px;
	line-height: 1.428;
	font-weight: lighter;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.clearfix {
	zoom: 1;
}


.navbar {
	margin-bottom: 0;
}
.navbar-brand {
	padding: 5px 10px;
	height: 70px
}
.navbar-toggle {
	margin-top: 17px;
}
.navbar-default {
	background: #FFFFFF;
	border: none;
	box-shadow: 0 3px 5px rgba(150, 150, 150, .20);
}
.navbar .navbar-nav .dropdown:hover .dropdown-menu {
	display: block;
}
.navbar-nav > li > a {
	font-size: 18px;
	line-height: 40px;
}
.nav > li > a {
	padding-left: 25px;
	padding-right: 25px;
	
}
.navbar-default .navbar-nav > li > a {
	color: #222222;
	
}
.navbar-default .navbar-nav > li > a:hover {
	color: #eb943c;
	background: #eee;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  	color: #eb943c;
  	background: #FFFFFF;
}
.navbar-right .dropdown-menu.features_menu {
	min-width: 400px;
}
.navbar-right .dropdown-menu.features_menu h4 {
	color: #eb943c;
	padding-left: 10px;
}
.navbar-right .features_menu > li > ul {
	list-style: none;
	padding-left: 10px;
	margin: 10px 0;
}
.navbar-right .features_menu > li > ul > li a {
	display: block;
    padding: 8px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.navbar-right .features_menu > li > ul > li a:hover {
	color: #eb943c;
    text-decoration: none;
    background-color: #f5f5f5;
}
.dropdown-menu > li > a:hover {
	color: #eb943c;
}
.dropdown-menu > li > a {
	padding: 8px 20px;
}
.dropdown-menu {
	font-size: 16px;
}
aside {
	display: none;
	position: fixed;
	right: 0;
	bottom: 20px;
	transition: all 1s ease-in;
	z-index: 100;
}
aside .asideBox {
	background: #FFFFFF;
	width: 70px;
	height: 90px;
	border: 1px solid #dcdcdc;
	border-right: none;
	text-align: center;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
aside .asideBox a {
	padding-top: 60px;
	display: inline-block;
	text-decoration: none;
	color: #666666;
	background: url(../img/backtop.png) no-repeat center 15px;
}
aside .asideBox a:hover {
	color: #eb943c;
	background: url(../img/backtop_pre.png) no-repeat center 15px;
}
/*footer1*/
.footer1 {
	/*margin-top: 40px;*/
	padding: 80px 0;
	background: #262626 url(../img/footer1.png) no-repeat center center;
	background-size: cover;
}
.footer1 .loveBox {
	width: 100%;
	background: #FFFFFF;
	border-radius: 4px;
	text-align: center;
	padding: 40px 10px
}
.footer1 .loveBox p {
	font: 28px/28px "微软雅黑";
	margin-top: 20px;
}
.footer1 .sloganBox p {
	font: 36px/36px "微软雅黑";
	margin: 20px 0 20px 0;
	color: #FFFFFF;
}
.footer1 .sloganBox p.subSlogan {
	font: 28px/28px "微软雅黑";
	margin-bottom: 20px;
	color: #FFFFFF;
}
.footer1 .sloganBox button {
	margin-top: 30px;
	background: #f99d40;
	color: #FFFFFF;
	border: none;
	outline: none;
	border-radius: 2px;
	height: 40px;
}
.footer1 .sloganBox button:hover {
	background: #eb943c;
}

.footer2 {
	background: #333333;
	color: #FFFFFF;
}
.footer2 .footerInfo_hd {
	margin: 40px 0 20px 0;
	font: 18px/18px "微软雅黑";
	text-align: left;
	color: #f99d40;
}
.footer2 .container .firstHd {
	text-align: left;
}
.footer2 .footerInfo_bd.first {
	text-align: left;
}
.footer2 .footerInfo_bd strong {
	display: inline-block;
	margin: 20px 0;
	font: 24px/36px "微软雅黑";
}
.footer2 .footerInfo_bd {
	text-align: left;
	/*color: #f99d40;*/
}
.footer2 .footerInfo_bd ul {
	margin-top: 10px;
	list-style: none;
	padding-left: 0;
}
.footer2 .footerInfo_bd ul li {
	margin-bottom: 10px;
}
.footer2 .footerInfo_bd ul li a {
	color: #FFFFFF;
	text-decoration: none;
	font: lighter 14px/14px "微软雅黑";
}
.footer2 .footerInfo_bd ul li a.active,
.footer2 .footerInfo_bd ul li a:hover {
	color: #f99d40;
}
.footer2 .siteInfo {
	margin: 20px;
	border-top: 1px solid #545252;
	padding: 20px 0 0 0;
	text-align: center;
}
.footer2 .siteInfo p {
	font:  14px/14px "微软雅黑";
	color: #545252;
	margin-bottom: 0;
	
}


/*内容页公用样式*/
.topBanner {
	margin-top: 70px;
	height: 240px;
	color: #FFFFFF;
}
.companyProfiles {
	background: url(../img/about_banner.jpg) no-repeat center top;
}
.contactUs {
	background: url(../img/contactUs_bg.jpg) no-repeat center top;
}
.case {
	background: url(../img/contactUs_bg.jpg) no-repeat center top;
}
.customerService {
	background: url(../img/customerService_bg.jpg) no-repeat center top;
}
.companyProducts {
	background: url(../img/companyProducts_bg.jpg) no-repeat center top;
}

.topBanner .banner h1 {
	/*font: 46px/60px "微软雅黑";*/
	margin-top: 40px;
}
.topBanner .banner p {
	/*font: 24px/30px "微软雅黑";*/
	margin-top: 20px;
}

.bread {
	background: #FFFFFF;
}
.bread .breadcrumb {
	background-color: #FFFFFF;
	border-bottom: 1px solid #d6d6d6;
	border-radius: 0;
	height: 59px;
	padding: 20px 15px;
}
.bread .breadcrumbActive {
	position: fixed;
	top: 70px;
	z-index: 1000;
}
.bread .breadcrumb li {
	/*font: lighter 18px/20px "微软雅黑";*/
	font-size: 16px;
	
	color: #333333;
} 
.bread .breadcrumb li a {
	color: #ee7400;
}
.content .asideMenu {
	position: relative;
}
.content .asideActive {
	position: fixed;
	top: 70px;
}
.content .asideMenu h3 {
	color: #333333;
	/*font: lighter 24px/46px "微软雅黑";*/
}
.content .asideMenu ul {
	list-style: none;
	padding-left: 20px;
}
.content .asideMenu ul li {
	margin: 16px 0;
}
.content .asideMenu ul li a {
	/*line-height: 24px;*/
	line-height: 1.428;
	font-size: 16px;
	color: #333333;
	padding-left: 15px;
	
}
.content .asideMenu ul li a:hover,
.content .asideMenu ul li a.active {
	color: #ee7400;
	border-left: 2px solid #ee7400;
	text-decoration: none;
	padding-left: 13px;
}
.content .paper {
	background: #FFFFFF;
	padding-bottom: 200px;
}
.content .paperActive {
	/*margin-top: 70px;*/
}
.content .paper h4 {
	/*font: lighter 36px/46px "微软雅黑";*/
	margin-top: 40px;
}
.content .paper h4:first-child {
	margin-top: 0;
}
.content .paper p {
	text-indent: 2em;
	/*font: lighter 18px/24px "微软雅黑";*/
	font-size: 16px;
	line-height: 1.428;
	color: #666;
	margin-top: 24px;
}
.content .paper p span {
	color: #ee7400;
	font-weight: bold;
}
.content .paper dt {
	font: lighter 24px/24px "微软雅黑";
	margin-top: 24px;
	color: #666666;
}

.content .paper dd {
	font-size: 16px;
	line-height: 1.428;
	color: #666666;
	margin-top: 24px;
	padding-left: 35px;
	background: url(../img/check_small.png) no-repeat left 0;
}
.content .paper dd.level3 p {
	font-size: 16px;
	line-height: 1.428;
	padding-left: 20px;
	color: #666;
	text-indent: 0;
	background: url(../img/dot3.png) no-repeat left 5px;
}

.content .paper dd.level3 {
	font-size: 16px;
	line-height: 1.428;
	padding-left: 20px;
	margin-top: 24px;
	background: rgba(255,255,255,0);
}
.content .paper dd.level4 p {
	background: rgba(255,255,255,0);
	text-indent: 0;
}
.content .paper dd.level4{
	background: rgba(255,255,255,0);
}