/*公用部分*/
.clearfix:after {
	content: '';
	display: block;
	clear: both;
}
.clearfix {
	zoom: 1;
}
.left {
	float: left;
}
.right {
	float: right;
}
body {
	background: url(../img/headerwrap.jpg) no-repeat center center;
	background-size: contain;
}
/*index页面部分*/
.navbar {
	margin-bottom: 0;
}
.navbar-brand {
	padding: 5px 10px;
	height: 70px
}
.navbar-toggle {
	margin-top: 17px;
}
.navbar-default {
	background: #FFFFFF;
	border: none;
	box-shadow: 0 3px 5px rgba(0, 0, 0, .28);
}
.navbar-nav > li > a {
	line-height: 40px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a.active {
	color: #eb943c;
}

.navbar-right .dropdown-menu.features_menu {
	min-width: 400px;
}
.navbar-right .dropdown-menu.features_menu h4 {
	color: #eb943c;
	padding-left: 10px;
}
.navbar-right .features_menu > li > ul {
	list-style: none;
	padding-left: 10px;
	margin: 10px 0;
}
.navbar-right .features_menu > li > ul > li a {
	display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.navbar-right .features_menu > li > ul > li a:hover {
	color: #eb943c;
    text-decoration: none;
    background-color: #f5f5f5;
}
.dropdown-menu > li > a:hover {
	color: #eb943c;
}

/*中间文字*/
.slide{
	background: url(../img/headerwrap.jpg) no-repeat center center;
	/*margin-top: 70px;*/
	min-height: 800px;
}
/*.slide > div > div {
	position: relative;
}*/
.slide .textBox {
	position: absolute;
	top: 50%;
	margin-top: -150px;
}
.slide .textBox h2 {
	padding-left: 50px;
	font-size: 46px;
	line-height: 72px;
	font-weight: lighter;
}
.slide .textBox p {
	padding-left: 50px;
	font-size: 18px;
	line-height: 30px;
}
.slide .textBox a {
	margin-left: 50px;
	display: inline-block;
	margin-top: 14px;
	background: #fa9f44;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	line-height: 44px;
	padding: 0 15px;
	text-decoration: none;
}
.slide .textBox a:hover {
	background: #eb943c;
}

/*优势*/
.advantage {
	padding-top: 40px;
	background: #FFFFFF;
	padding-bottom: 60px;
}
.advantage .adv_hd {
	margin-bottom: 20px;
	text-align: center;
}
.advantage .adv_hd h3 {
	font: lighter 36px/36px "微软雅黑";
	margin-top: 40px;
	margin-bottom: 20px;
}
.advantage .adv_hd span.sep1 {
	display: block;
	width: 40px;
	height: 1px;
	background: #eb943c;
	margin: 0 auto 24px auto;
}
.advantage .adv_bd {
	margin-bottom: 80px;
}
.advantage .adv_hd p {
	font: lighter 14px/20px "微软雅黑";
}
.advantage .adv_bd .adv_item {
	margin-top: 40px;
	background: #eb943c;
	border-radius: 4px;
	color: #FFFFFF;
	text-align: center;
	padding: 40px 28px;
	/*transition: all 1s ease-in-out;*/
}
.advantage .adv_bd .adv_item h4 {
	margin: 40px 0 20px 0;
	font: lighter 24px/24px "微软雅黑";
}
.advantage .adv_bd .adv_item img {
	transition: all 1s ease-in-out;
	/*transition-delay: 1.2s;*/
}
.advantage .adv_bd .adv_item:hover img {
	transform: rotateY(360deg);
}
.advantage .adv_bd .adv_item p {
	font: lighter 14px/18px "微软雅黑";
}

/*我们的产品*/
.products {
	width: 100%;
	background: #f2f2f2;
}
.products .prod_hd {
	margin: 40px auto;
}
.products .prod_bd a.prodTitle {
	text-decoration: none;
	color: #333333;
}
.products .prod_bd a.prodTitle:hover {
	background: #f2f2f2;
	text-decoration: none;
}
.products .prod_bd .prod_item {
	/*height: 380px;*/
	margin-top: 40px;
}
.products .prod_bd img {
	/*padding-left: 30px;*/
	text-align: right;
	transition: all 0.5s ease-in-out;
}
.products .prod_bd img:nth-child(1):hover {
	transform: translateY(-10px);
}
.products .prod_bd img:nth-child(2):hover {
	transform: translateY(10px);
}
.products .prod_bd h3 {
	font-size: 36px;
	line-height: 36px;
	font-weight: lighter;
	margin: 0;
}
.products .prod_bd dl {
	margin-top: 30px;
	margin-left: 50px;
}
.products .prod_bd .check {
	margin-left: -50px;
}
.products .prod_bd dl dd {
	font: lighter 18px/24px "微软雅黑";
}
.products .prod_bd a.detailsBtn {
	display: inline-block;
	background: #fa9f44;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	line-height: 44px;
	padding: 0 15px;
	text-decoration: none;
}
.products .prod_bd a:hover {
	background: #eb943c;
}

/*客户服务*/
.service {
	background: #FFFFFF;
}
.service .service_hd {
	margin: 40px auto;
}
.service .service_hd h3{
	text-align: center;	
	font-size: 30px;
	font-weight: lighter;
}
.service .service_hd span.sep1{
	display: block;
	width: 120px;
	height: 2px;
	background: #eb943c;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 20px;
}
.service .service_bd {
	margin-bottom: 40px;
}
.service .service_bd .ser_item {
	margin-top: 25px;
}

.service .service_bd .subTitle1 p{
	font: 24px/30px "微软雅黑";
	padding-left: 10px;
	line-height: 30px;
	margin-top: 40px;
	border-left: 2px solid #e60012;
	color: #e60012;
}  
.service .service_bd .subTitle2 p{
	font: 24px/30px "微软雅黑";
	padding-left: 10px;
	line-height: 30px;
	margin-top: 40px;
	border-left: 2px solid #eb943c;
	color: #eb943c;
}  
.service .service_bd .ser_item:hover h4 a {
	color: #e60012;
}
.service .service_bd .ser_item:hover span {
	display: inline-block;
}

.service .service_bd .ser_item h4 {
	padding-left: 70px;
	
	font: 24px/64px "微软雅黑";
	line-height: 64px;
	transition: all 0.2s ease-in;
	border-bottom: 1px solid #e60012;
}
.service .service_bd .ser_item p {
	font: lighter 16px/22px "微软雅黑";
	color: #333333;
	margin: 15px 0 25px 0;
}
.service .service_bd .ser_item a {
	/*text-decoration: none;*/
	color: #333;
	padding-top: 15px;
	transition: all 0.2s ease-in;
}
.service .service_bd .ser_item a:hover {
	text-decoration: none;
}
.service .service_bd .ser_item span {
	display: none;
	color: #e60012;
	padding-left: 10px;
	transition: all 0.2s ease-in;
}
.service .service_bd div.ser_item:nth-child(2) h4 {
	background: url(../img/erp.png) no-repeat 0 6px;
}
.service .service_bd div.ser_item:nth-child(2):hover h4 {
	background: url(../img/erp_pre.png) no-repeat 0 6px;
}

.service .service_bd div.ser_item:nth-child(3) h4 {
	background: url(../img/hr.png) no-repeat 0 6px;
}
.service .service_bd div.ser_item:nth-child(3):hover h4 {
	background: url(../img/hr_pre.png) no-repeat 0 6px;
}

.service .service_bd div.ser_item:nth-child(4) h4 {
	background: url(../img/scm.png) no-repeat 0 6px;
}
.service .service_bd div.ser_item:nth-child(4):hover h4 {
	background: url(../img/scm_pre.png) no-repeat 0 6px;
}
.service .service_bd div.ser_item:nth-child(5) h4 {
	background: url(../img/crm.png) no-repeat 0 6px;
}
.service .service_bd div.ser_item:nth-child(5):hover h4 {
	background: url(../img/crm_pre.png) no-repeat 0 6px;
}
.service .service_bd div.ser_item:nth-child(6) h4 {
	background: url(../img/oa.png) no-repeat 0 6px;
}
.service .service_bd div.ser_item:nth-child(6):hover h4 {
	background: url(../img/oa_pre.png) no-repeat 0 6px;
}
.service .service_bd div.ser_item:nth-child(7) h4 {
	background: url(../img/eam.png) no-repeat 0 6px;
}
.service .service_bd div.ser_item:nth-child(7):hover h4 {
	background: url(../img/eam_pre.png) no-repeat 0 6px;
}

.service .service_bd .ser_item2 {
	margin-top: 25px;
}
.service .service_bd .subTitle p{
	font: 24px/30px "微软雅黑";
	border-left: 2px solid #e60012;
	padding-left: 10px;
	line-height: 30px;
	color: #e60012;
}  
.service .service_bd .ser_item2:hover h4 a {
	color: #eb943c;
}
.service .service_bd .ser_item2:hover span {
	display: inline-block;
}

.service .service_bd .ser_item2 h4 {
	padding-left: 70px;
	
	font: 24px/64px "微软雅黑";
	line-height: 64px;
	transition: all 0.2s ease-in;
	border-bottom: 1px solid #eb943c;
}
.service .service_bd .ser_item2 p {
	font: lighter 16px/22px "微软雅黑";
	color: #333333;
	margin: 15px 0 25px 0;
}
.service .service_bd .ser_item2 a {
	/*text-decoration: none;*/
	color: #333;
	padding-top: 15px;
	transition: all 0.2s ease-in;
}
.service .service_bd .ser_item2 a:hover {
	text-decoration: none;
}
.service .service_bd .ser_item2 span {
	display: none;
	color: #eb943c;
	padding-left: 10px;
	transition: all 0.2s ease-in;
}
.service .service_bd div.ser_item2:nth-child(2) h4 {
	background: url(../img/shouqian.png) no-repeat 0 6px;
}
.service .service_bd div.ser_item2:nth-child(2):hover h4 {
	background: url(../img/shouqian_pre.png) no-repeat 0 6px;
}

.service .service_bd div.ser_item2:nth-child(3) h4 {
	background: url(../img/people.png) no-repeat 0 6px;
}
.service .service_bd div.ser_item2:nth-child(3):hover h4 {
	background: url(../img/people_pre.png) no-repeat 0 6px;
}

.service .service_bd div.ser_item2:nth-child(4) h4 {
	background: url(../img/projects.png) no-repeat 0 6px;
}
.service .service_bd div.ser_item2:nth-child(4):hover h4 {
	background: url(../img/projects_pre.png) no-repeat 0 6px;
}

.service .service_bd div.ser_item2:nth-child(5) h4 {
	background: url(../img/shouhou.png) no-repeat 0 6px;
}
.service .service_bd div.ser_item2:nth-child(5):hover h4 {
	background: url(../img/shouhou_pre.png) no-repeat 0 6px;
}

/*成功案例*/
.projects {
	background: #f2f2f2;
}
.projects .projects_hd {
	margin: 40px auto 0 auto;
}
.projects .projects_hd h3{
	text-align: center;	
	font-size: 30px;
	font-weight: lighter;
}
.projects .projects_hd span.sep1{
	display: block;
	width: 120px;
	height: 2px;
	background: #eb943c;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 20px;
}
.projects .projects_bd {
	margin-bottom: 80px;
}
.projects .projects_bd .projects_item {
	position: relative;
	overflow: hidden;
	margin-top: 40px;
}
.projects .projects_bd .projects_item:hover img {
	transform: scale(1.05);
}
.projects .projects_bd .projects_item img {
	transition: all 1s ease;
	border: none;
	text-align: center;
	width: 100%;
}
.projects .projects_bd .projects_item p {
	position: absolute;
	left: 0;
	bottom: 0;
	background: rgba(0,0,0,0.5);
	line-height: 80px;	
	font-size: 30px;
	color: #FFFFFF;
	text-align: center;
	width: 100%;
	margin-bottom: 0;
	font-weight: lighter;
}
.projects .more {
	text-decoration: none;
	font: 18px/18px "微软雅黑";
	color: #eb943c;
	text-align: center;
	margin: 20px 0 60px 0;
}



/*footer1*/
.footer1 {
	padding: 80px 0;
	background: #262626 url(../img/footer1.png) no-repeat center center;
	background-size: cover;
}
.footer1 .loveBox {
	width: 100%;
	background: #FFFFFF;
	border-radius: 4px;
	text-align: center;
	padding: 40px 10px
}
.footer1 .loveBox p {
	font: 28px/28px "微软雅黑";
	margin-top: 20px;
}
.footer1 .sloganBox p {
	font: 36px/36px "微软雅黑";
	margin: 20px 0 20px 0;
	color: #FFFFFF;
}
.footer1 .sloganBox p.subSlogan {
	font: 28px/28px "微软雅黑";
	margin-bottom: 20px;
	color: #FFFFFF;
}
.footer1 .sloganBox button {
	margin-top: 30px;
	background: #f99d40;
	color: #FFFFFF;
	border: none;
	outline: none;
	border-radius: 2px;
	height: 40px;
}
.footer1 .sloganBox button:hover {
	background: #eb943c;
}

.footer2 {
	background: #333333;
	color: #FFFFFF;
}
.footer2 .footerInfo_hd {
	margin: 40px 0 20px 0;
	font: 18px/18px "微软雅黑";
	text-align: left;
	color: #f99d40;
}
.footer2 .container .firstHd {
	text-align: center;
}
.footer2 .footerInfo_bd.first {
	text-align: center;
}
.footer2 .footerInfo_bd strong {
	display: inline-block;
	margin: 20px 0;
	font: 24px/36px "微软雅黑";
	color: #f99d40;
}
.footer2 .footerInfo_bd {
	text-align: left;
}
.footer2 .footerInfo_bd ul {
	margin-top: 10px;
	list-style: none;
	padding-left: 0;
}
.footer2 .footerInfo_bd ul li {
	margin-bottom: 10px;
}
.footer2 .footerInfo_bd ul li a {
	color: #FFFFFF;
	text-decoration: none;
	font: lighter 14px/14px "微软雅黑";
}
.footer2 .footerInfo_bd ul li a.active,
.footer2 .footerInfo_bd ul li a:hover {
	color: #f99d40;
}
.footer2 .siteInfo {
	margin: 20px;
	border-top: 1px solid #545252;
	padding: 20px 0 0 0;
	text-align: center;
}
.footer2 .siteInfo p {
	font:  14px/14px "微软雅黑";
	color: #545252;
	margin-bottom: 0;
	
}






